<ion-content class="container">
  <ion-header class="header">
    <h1 class="title">Pekémons</h1>
    <ion-card-subtitle
      >Seach for a pokémon by name or using its naticional pokédex number
    </ion-card-subtitle>
  </ion-header>
  <ion-searchbar
    animated="true"
    color="medium"
    placeholder="Digite o nome do pokemon"
    [(ngModel)]="searchPokemon"
    (ngModelChange)="onSearchChange($event)"
  ></ion-searchbar>
  <div class="contentCart">
    <ion-card class="card" *ngFor="let pokemon of pokemonsList">
      <ion-card-content (click)="detailsPokemon(pokemon.name)">
        <ion-img [src]="pokemon.sprites.front_default" alt="pokemon"></ion-img>
        <ion-card-header>
          <ion-card-title>{{pokemon?.name}}</ion-card-title>
        </ion-card-header>

        <h4>00{{pokemon?.id}}</h4>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
